*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.svetafor{
    width: 130px;
    height: 350px;
    background-color: #222;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}
.red{
    border-radius: 50%;
    background-color: red;
    width: 90px;
    height: 90px;
}
.gold{
    border-radius: 50%;
    background-color: yellow;
    width: 90px;
    height: 90px;
    margin-top: 20px;
}
.green{
    border-radius: 50%;
    background-color: lime;
    margin-top: 20px;
    width: 90px;
    height: 90px;
}